*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Rubik";
}
.menua{
  color: #000;
  text-decoration: none;
}
/*********** MENU *********/
menu{
  text-align: inline;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.menu-item{
  padding-left: 10px;
}
.menu-item{
  width: 90px;
}
.dis7{
  width: 87px;
}
.dis6{
  width: 50px;
}
.dis{
  width: 130px;
}
hr {
  border: none;
  background-color: #000; /* Цвет линии */
  opacity: .2;
  color: #000; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 100%;
}
.line {
  border-left: 1px solid #ccc;
  margin-left: 20px;
  padding-left: 10px;
}
/*********** HEAD *********/
.header_head{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 100px;
  justify-content: center;
}
.number p{
  font-size: 20px;
  font-weight: bold;
}
.mili{
  font-size: 11px;
}
.address{
  padding: 5px;
  margin-top: 5px;
}


.flowers {
  margin-top: -32px;
  padding: 10px;
  background-color: #3CB950;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flow{
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.flow:hover{
  color: #407014;
  transition: 0.5s;
}
/**************** HEADER-2 *******************/
.header-2 {
  display: flex;
  align-content: center;
  align-items: center;
  background: url('image/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  width: 100%;
}
.window{
  margin-left: 120px;
  background-color: rgb(255, 255, 255, 0.95);
  height: 245px;
  width: 459px;
  border-radius: 10px;
}
.sale {
  padding: 30px 50px 10px;
  font-size: 32px;
  /*font-family: 'Cormorant Garamond';*/
}
.catalog{
  padding-left: 50px;
  font-size: 14px;
  color: #407014;
  text-align: right;
}
